<p id="notice"><%= notice %></p>

<h1>Listing Past Outcomes</h1>

<table>
  <thead>
    <tr>
      <th>Past situation</th>
      <th>User decision</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @past_outcomes.each do |past_outcome| %>
      <tr>
        <td><%= past_outcome.past_situation %></td>
        <td><%= past_outcome.user_decision %></td>
        <td><%= link_to 'Show', past_outcome %></td>
        <td><%= link_to 'Edit', edit_past_outcome_path(past_outcome) %></td>
        <td><%= link_to 'Destroy', past_outcome, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Past outcome', new_past_outcome_path %>
